.container.top-padding-med
    .pull-right
        form.form-inline
            .form-group
                input.form-control(ng-model="searchText", placeholder="Filter")
            .form-group.margin-left-med
                select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
    table.table.table-hover.table-striped.table-condensed
        thead
            tr
                th Language
                th ID
        tbody
            tr(ng-repeat="lang in languages | orderBy: sortOrder | filter: searchText")
                td  {{lang.name[0]}}
                td  {{lang.id[0]}}