extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") MultiVision
          h6 -Bringing TV Shows Closer To Ya
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/languages") Languages
          li
            a(href="/courses") Courses
          li
            a(href='/tvshows') TV Shows
        div(ng-include="'/partials/account/navbar-login'")

  section.content
    div(ng-view)

  footer.container.text-center
    p &copy; 2014 Pentalog Corporate Villains Stuff Words Ltd.