.container
  .jumbotron
    h1 MultiVision
    p Welcome to MultiVision! A random app, really.

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")